* {
  box-sizing: border-box;
}

div.container {
  position: relative;
}

div.message-board {
  width: 800px;
  height: 500px;
  display: inline-block;
  overflow: scroll;
}

div.HUD {
  position: absolute;
  top: 0px;
  left: 800px;
  width: 200px;
  height: 500px;
  padding: 10px;
}

div.HUD > div.user-status {
  background-color: blueviolet;
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
  color: papayawhip;
  font-family: monospace;
}

.circle {
  background: powderblue;
  box-shadow: 0px 0px 5px dodgerblue;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  border: none;
  margin-right: 5px;
}
  
div.message-container {
  overflow: auto;
}

div.message {
  background-color: lightblue;
  border: 2px solid lightsteelblue;
  padding: 5px;
  border-radius: 5px;
  font-family: monospace;
  display: inline-block;
  margin: 2px;
  max-width: 500px;
}

div.message > div.user {
  background-color: lightsteelblue;
  margin: 5px;
  border-radius: 5px;
  padding: 0 5px;
  display: inline-block;
  font-size: 12px;
  color: papayawhip;
}
  
div.message.friend {
  float: right;
  margin-right: 15px;
}

div.message.atMe {
  background-color: lightsalmon;
}

div.message > div.text {
  display: inline-block;
}
  
button {
  box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px inset;
  background: linear-gradient(rgb(255, 255, 255) 5%, rgb(246, 246, 246) 100%) rgb(255, 255, 255);
  border-radius: 6px;
  border: 1px solid rgb(220, 220, 220);
  display: inline-block;
  cursor: pointer;
  color: rgb(102, 102, 102);
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: rgb(255, 255, 255) 0px 1px 0px;
  margin: 0 5px;
}
  
input[type=text] {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 6px;
  width: 500px;
  margin: 5px;
}

div.error {
  position: absolute;
  top: -48px;
  color: chocolate;
  background-color: burlywood;
  border-radius: 5px;
  font-family: monospace;
  padding: 10px;
  margin: 5px;
  display: inline-block;
}

div.error-arrow {
  position: absolute;
  top: -8px;
  left:40px;
  z-index: 5;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid burlywood;
}

.loader {
  position: relative;
  display: inline-block;
  margin-left: 8px;
  width: 1em;
  height: 1em;
  transform: rotate(165deg);
}

.loader:before, .loader:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.2em;
  height: 0.2em;
  border-radius: 0.1em;
  transform: translate(-50%, -50%);
}

.loader:before {
  animation: before 2s infinite;
}

.loader:after {
  animation: after 2s infinite;
}

@keyframes before {
  0% {
    width: 0.2em;
    box-shadow: 0.4em -0.2em rgba(225, 20, 98, 0.75), -0.4em 0.2em rgba(111, 202, 220, 0.75);
  }
  35% {
    width: 1em;
    box-shadow: 0 -0.2em rgba(225, 20, 98, 0.75), 0 0.2em rgba(111, 202, 220, 0.75);
  }
  70% {
    width: 0.2em;
    box-shadow: -0.4em -0.2em rgba(225, 20, 98, 0.75), 0.4em 0.2em rgba(111, 202, 220, 0.75);
  }
  100% {
    box-shadow: 0.4em -0.2em rgba(225, 20, 98, 0.75), -0.4em 0.2em rgba(111, 202, 220, 0.75);
  }
}

@keyframes after {
  0% {
    height: 0.2em;
    box-shadow: 0.2em 0.4em rgba(61, 184, 143, 0.75), -0.2em -0.4em rgba(233, 169, 32, 0.75);
  }
  35% {
    height: 1em;
    box-shadow: 0.2em 0 rgba(61, 184, 143, 0.75), -0.2em 0 rgba(233, 169, 32, 0.75);
  }
  70% {
    height: 0.2em;
    box-shadow: 0.2em -0.4em rgba(61, 184, 143, 0.75), -0.2em 0.4em rgba(233, 169, 32, 0.75);
  }
  100% {
    box-shadow: 0.2em 0.4em rgba(61, 184, 143, 0.75), -0.2em -0.4em rgba(233, 169, 32, 0.75);
  }
}
